.header {
	margin: 24px 0 155px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	&__logo-link {
		min-width: 108px;
		height: 22px;
		margin-right: 64px;
	}

	&__nav {
		width: 100%;
	}

	&__nav-list {
		max-width: 544px;
		display: flex;
		justify-content: space-between;
		gap: 15px;
	}

	&__nav-link {
		padding: 10px 0;

		color: $color-text;
		white-space: nowrap;

		@extend %link-hover;

		&--active::after {
			transform: scaleX(1);

			background-color: $color-text;
		}
	}

	&__btn {
		white-space: nowrap;
		padding: 16px 32px 17px;

		color: $color-title;
		font-weight: 500;

		border: 2px solid rgba($color-accent, 0.4);
		border-radius: 5px;

		@extend %transition;

		&:hover,
		&:focus {
			background-color: rgba($color-accent, 0.1);
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&__hamburger {
		display: none;
		position: relative;
		cursor: pointer;
		z-index: 11;
	}

	&__hamburger-line {
		width: 50px;
		height: 7px;

		background: #111;

		transition: all 0.5s ease;
	}

	&__hamburger-line + &__hamburger-line {
		margin-top: 7px;
	}
}

// MEDIA

@include lg {
	.header {
		margin-bottom: 50px;
	}

	.header__logo-link {
		margin-right: 30px;
	}

	.header__btn {
		padding: 10px 16px;
	}
}

@include media("820px") {
	.header__btn {
		display: none;
	}

	.header__logo-link {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.header__nav-list {
		max-width: none;
	}
}

@include media("650px") {
	.header__nav {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100vh;
		position: fixed;
		z-index: 10;
		top: -110%;
		left: 0;

		background: linear-gradient(#fff4f2, #fcdbd4);
		transition: all 0.4s ease-out;

		&--visible {
			top: 0%;
		}
	}

	.header__nav-link {
		opacity: 0;
		position: relative;
		top: -30px;

		font-size: 28px;

		transition: all .4s ease-out;

		&--visible {
			opacity: 1;
			top: 0px;
		}
	}

	.header__nav-link:after {
		display: none;
	}

	.header__nav-list {
		flex-direction: column;
		text-align: center;
	}

	.header__hamburger {
		display: block;
	}

	.header__hamburger--close .header__hamburger-line {
		background: #949090;

		&:first-child {
			transform-origin: right top;
			transform: rotate(-45deg) translateY(-4px);
		}

		&:nth-child(even) {
			opacity: 0;
			transform: scaleX(0);
		}

		&:last-child {
			transform-origin: right bottom;
			transform: rotate(45deg) translateY(4px);
		}
	}
}
