@mixin font-face($font-family, $url, $font-style, $weight) {
	@font-face {
		font-family: $font-family;
		src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
		font-style: $font-style;
		font-weight: $weight;
		font-display: swap;
	}
}

@include font-face("Poppins", "#{$fonts-root}Poppins-Regular", normal, 400);
@include font-face("Poppins", "#{$fonts-root}Poppins-Medium", normal, 500);
@include font-face("Poppins", "#{$fonts-root}Poppins-SemiBold", normal, 600);