$fonts-root: "../fonts/";

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$color-text: #5b5b5b;
$color-title: #0d1317;
$color-accent: #232ed1;
$color-accent-dark: #1520b6;
$color-accent-sec: #F24C27;
$color-accent-sec-dark: #d63e1c;
$color-grad-type1: linear-gradient(rgba(#b6baff, 0.2), rgba(#232ed1, 0.2));
$color-grad-type2: linear-gradient(rgba(#FFD9D0, 0.2), rgba(#F24C27, 0.2));
$color-grad-type3: linear-gradient(rgba(148, 153, 221, 10%), rgba(#0010ff, 10%));
